:root{
	--primary-white:#ffffff;
	--primary-link-color: #4D5AE5;
	--pressed-state: #404BBF;
	--base-color: #2E2F42;
	--text-color: #434455;
	--light-backgroung: #F4F4FD;
	--subtle-text: #8E8F99;
	--accent-color: #E7E9FC;
	--success-color: #31D0AA;
}


body {
	font-family: "Roboto", sans-serif;
}

a {
	text-decoration: none;
}

a:active {
	color: var(--pressed-state);
}

ul {
	list-style: none;
	margin: 0;
	padding: 0;

}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

/* header, logo */
.header {
	background-color: var(--primary-white);
	border-bottom: 1px solid #e7e9fc;
}

.logo {
	text-transform: uppercase;
	font-family: "Raleway";
	font-weight: 800;
	letter-spacing: 0.03em;
	color: var(--base-color);
	font-size: 18px;
	line-height: 1.3;
	margin-right: 76px;
}

.logo-web {
	color: #4d5ae5;
}

/* navigation */
.head-container{
	display: flex;
  	align-items: center;
  	padding-top: 24px;
  	padding-bottom: 24px;
}

.site-nav {
	display: flex;
	align-items: center;
}

.nav-list{
	display: flex;
	align-items: center;
}
.nav-item {
	color: var(--base-color);
	font-weight: 500;
	font-size: 16px;
	line-height: 1.5;
	position: relative;
}

.nav-item:focus,
.nav-item:hover {
	color: var(--pressed-state);
	text-decoration: underline;
}

.nav-item.active::after{
	content: "";
	width: 100%;
	height: 4px;
	background-color: var(--pressed-state);
	position: absolute;
}

.contacts{
	display: flex;
  	align-items: center;
  	margin-left: auto;
}

.contact-email,
.contact-number {
	color: var(--text-color);
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 1.5;
	letter-spacing: 0.02em;
}

.header-item:not(:last-child) {
	margin-right: 40px;
  }

.contact-email:hover,
.contact-email:active,
.contact-email:focus {
	color: var(--pressed-state);
	font-style: normal;
}

.contact-number:hover,
.contact-number:active,
.contact-number:focus {
	color: var(--pressed-state);
}

/* main */
.container{
	width: 1158px;
	margin: 0 auto;
	padding-left: 15px;
	padding-right: 15px;
}

.section{
	padding-top: 120px;
	padding-bottom: 120px;
}

.portfolio-section{
	padding-top: 96px;
}

/* hero section */
.hero-section {
	padding-top: 180px;
	padding-bottom: 180px;
	left: 0px;
	top: 72px;
	text-align: center;
}

.hero-box{
	max-width: 1440рх;
	margin-left: auto;
	margin-right: auto;
	background-image: linear-gradient(
		to right,
		rgba(46, 47, 66, 0.7),
		rgba(46, 47, 66, 0.7)),
	 url("../images/people-office.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-color: var(--base-color);
}

.hero-header {
	max-width: 496px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 48px;
	text-align: center;

	font-style: normal;
	font-weight: 700;
	font-size: 56px;
	line-height: calc(60/56);
	letter-spacing: 0.02em;
	color: var(--primary-white);  

}

.header-button:hover,
.header-button:focus {
	color: var(--primary-white);
	background-color: var(--pressed-state);
	/* box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15); */
}

.header-button {
	padding: 20px 32px;

  	text-align: center;
  	font-family: inherit;
  	font-weight: 500;
  	font-size: 16px;
  	line-height: calc(16/24);
  	letter-spacing: 0.04em;
  	color: var(--primary-white);
	background-color: var(--primary-link-color);
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
	border-radius: 4px;
	border: none;
	cursor: pointer;
}


/* features */
img{
	display: block;
	max-width: 100%;
	height: auto;
}

.feature-container{
	display: flex;
}

.section-title {
	font-weight: 700;
	font-size: 36px;
	line-height: 1.11;
	text-align: center;
	letter-spacing: 0.02em;
	text-transform: capitalize;
	color: var(--base-color);
	align-items: flex-start;
}

.visually-hidden {
	height: 1px;
  	margin: -1px;
  	border: 0;
  	padding: 0;
  	white-space: nowrap;
  	clip-path: inset(100%);
  	clip: rect(0 0 0 0);
  	overflow: hidden;
  	width: 1px;
}
.feature-list{
	display: flex;
}

.feature-list .title {
	font-weight: 500;
	font-size: 20px;
	line-height: 1.2;
	letter-spacing: 0.02em;
	color: var(--base-color);
	margin-bottom: 8px;
	margin-top: 8px;
}

.feature-list .description {
	line-height: calc(24/16);
	letter-spacing: 0.02em;
	color: var(--text-color);
}

.feature-item:not(:last-child){
	margin-right: 24px;
}

.feature-icon:is(:hover, :focus, :active) {
	box-shadow:0px 2px 2px rgb(46 47 66 / 8%),
				0px 2px 2px rgb(46 47 66 / 16%),
				0px 2px 2px rgb(46 47 66 / 8%);
	border-radius: 4px;
	cursor: pointer;
  }

.feature-item{
	width: calc((100% - 72px) / 4);
}

.feature-icon{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 112px;
	background-color: var(--light-backgroung);
	border-radius: 4px;
}


/* What are we doing / About us */
.about-section{
	padding-top: 0;
}
.section-title{
	font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--base-color);
	margin-bottom: 72px;
}

.about-us-list{
	display: flex;
}

.about-us-item:not(:last-child) {
	margin-right: 24px;
  }

/* Our Team */

.our-team-section{
	background-color: var(--light-backgroung);
}

.our-team-list{
	display: flex;
	justify-content: space-between;
}

.team-item{
	padding-bottom: 32px;
	border: 1px solid var(--accent-color);
	background-color: var(--primary-white);
	box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
	border-radius: 0px 0px 4px 4px;
}

.our-team-list .title{
	font-weight: 500;
	font-size: 20px;
	line-height: 1.2;
	letter-spacing: 0.02em;
	text-align: center;
	color: var(--base-color);
	margin-bottom: 8px;
}

.our-team-list .description{
	font-weight: 400;
	font-size: 16px;
	line-height: 1.5;
	letter-spacing: 0.02em;
	text-align: center;
	color: var(--text-color);
}

.team-img{
	margin-bottom: 32px;
}

.team-social-list{
	display: flex;
	justify-content: center;
	gap: 24px;
	margin-top:8px;
}

.team-social-icon{
	fill:var(--primary-white);
}

.team-social-item{
	width: 40px;
	height: 40px;
}

.team-social-link{
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
	border-radius: 50%;
	background-color: var(--primary-link-color);
}

.team-social-link:is(:hover, :focus, :active){
	background-color: var(--pressed-state);
}

/* Customers */
  .customer-list{
	display: flex;
	gap: 24px;
}

.customer-list-item{
	flex-basis: calc((100%-120px)/6);
  	width: 168px;
  	height: 88px;
}
  
.customer-item{
	display: flex;
  	justify-content: center;
  	align-items: center;
  	width: 100%;
  	height: 100%;
  	border: 1px solid var(--subtle-text);
  	border-radius: 4px;
  	cursor: pointer;	
  }

  .customer-item:is(:hover, :focus, :active) {
	border: 1px solid var(--pressed-state);
	color: var(--pressed-state);
  }

  .customer-icon{
	fill: var(--subtle-text);
  }

  .customer-item:is(:hover, :focus) .customer-icon {
	fill: currentColor;
  }
 

/* Footer */
.footer{
	padding-top: 100px;
	padding-bottom: 100px;
	color: var(--primary-white);
	background-color: var(--base-color);
}

.logo-footer{
	color: var(--primary-white);
	font-weight: 400;
  	font-size: 16px;
  	line-height: 1.5;
  	letter-spacing: 0.02em;
}

.footer-text{
	display: block;
  	width: 264px;
  	margin-top: 16px;
  	color: var(--primary-white);

  	font-weight: 400;
	font-size: 16px;
	line-height: calc(24/16);
}

.footer-container{
	display: flex;
	gap: 120px;
}

.footer-title {
	margin-bottom: 16px;
	color: var(--primary-white);
	font-weight: 500;
	font-size: 16px;
	line-height: calc(24/16);
	letter-spacing: 0.02em;
  }

.footer-social {
	display: flex;
	flex-direction: column;
  }

.footer-list {
	display: flex;
	justify-content: center;
	gap: 24px;
  }

.footer-social-item{
	width: 40px;
	height: 40px;
  }

  .footer-social-icon{
    width: 24px;
    height: 24px;
  }

.footer-social-link {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
	border-radius: 50%;
	background-color: rgba(255, 255, 255, 0.1);
  }

  .footer-social-link:is(:hover, :focus, :active) {
  background-color: var(--success-color);
  border-radius: 50%;
  cursor: pointer;
}
  

/* PORTFOLIO */
/* portfolio hero-section */
.btn-list{
display: flex;
justify-content: center;
margin-bottom: 72px;
}

.btn-item{
	margin-right: 24px;
}

.portfolio-btn{
	font-family: inherit;
	font-weight: 500;
	font-size: 16px;
	line-height: 1.5;
	letter-spacing: 0.04em;
	text-align: center;
	background-color: var(--accent-color);
	color: var(--primary-link-color);
	border: 1px solid #E7E9FC;
	border-radius: 4px;
	min-width: 69px;
  min-height: 48px;
  padding: 12px 24px;
}

.portfolio-btn:active,
.portfolio-btn:hover,
.portfolio-btn:focus {
	color: var(--primary-white);
	background-color: var(--pressed-state);
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
	border-radius: 4px;
}

.portfolio-list{
	display: flex;
  	flex-wrap: wrap;
  	gap: 48px 24px;
}

.portfolio-list .title{
	font-weight: 500;
	font-size: 20px;
	line-height: 1.2;
	letter-spacing: 0.02em;
	color: var(--base-color)
}

.portfolio-list .text{
	margin-top: 8px;
	font-weight: 400;
	font-size: 16px;
	line-height: 1.5;
	letter-spacing: 0.02em;
	color: var(--text-color);
}


.portfolio-item{
	width: 360px;
	display: flex;
  	flex-wrap: wrap;
} 

.portfolio-item:nth-last-child(-n + 3) {
    padding-bottom: 120px;
}


.card{
	padding-left: 16px;
	padding-right: 16px;
	padding-top: 32px;
	padding-bottom: 32px;

	border: 1px solid var(--accent-color);
}

.portfolio-item-link {
	display: block;
}

.portfolio-item-link:is(:hover, :focus, :active){
	box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
				0px 1px 1px rgba(46, 47, 66, 0.16),
				0px 2px 1px rgba(46, 47, 66, 0.08);
	cursor: pointer;
}
